@model Warehouse.MVC.Models.CategoryView
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container mt-5">
        <h2>Cập nhật danh mục</h2>
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <!-- Thông tin sản phẩm -->
            <div class="card mb-4">
                <div class="card-header">Thông tin danh mục</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Tên sản phẩm *</label>
                        <input type="text" class="form-control" name="name" value="@Model.Category.Name" placeholder="Tên danh mục" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mô tả</label>
                        <input class="form-control" name="description" value="@Model.Category.Description" rows="5" placeholder="Nhập mô tả"></input>
                    </div>
                </div>
            </div>


            <!-- Nút hành động -->
            <div class="d-flex justify-content-between">
                <a asp-controller="Category" asp-action=""  type="button" class="btn btn-outline-secondary">Hủy</a>
                <button type="submit" class="btn btn-primary"> Lưu</button>
            </div>
        </form>
    </div>
</div>